src/main/mule/dbconnector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="820e71a6-5084-4561-a479-1aadb4170c64" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Anushajyothi@123456789" database="anusha" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="84367079-4cbb-49b8-bf3f-bf51831f2151" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.database}" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="8192ce69-6900-43fc-ae6d-6170c79323e4" file="properties\local.yaml" />
	<flow name="dbconnectorFlow" doc:id="4c9e08b1-5914-4bcd-b0d7-15f878e739d7" >
		<scheduler doc:name="every 5 mins" doc:id="8c93521f-46ec-4ae6-a8c7-4e7c2475ad69" >
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="the db connect is start" doc:id="c8e71a34-0ba9-4f7d-9b2c-d7440cbbb05a" message="#[payload]"/>
		<db:select doc:name="select" doc:id="0bf0d810-6b1f-443a-8e0e-6b3881495c32">
			<db:sql ><![CDATA[${db.selectquery}]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="af217435-ee96-45cf-b83b-d0f206c206a3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a0976dcb-308c-48f4-aa60-37a81f8c528f" message="json formaa of data:::#[payload]"/>
		<logger level="INFO" doc:name="flow of db connect is complete" doc:id="58c88699-591a-4c49-b09c-41a2385c8269" />
		<logger level="INFO" doc:name="Logger" doc:id="1f238698-7933-4350-a509-b33668f5da9d" message="extra logger"/>
		<logger level="INFO" doc:name="end of the db data" doc:id="f17f549e-3036-4d15-9fcb-a74d47a9ec74" />
	</flow>
</mule>
